.detailProduct {
  width: 800px; /* Ajusta el ancho según tus preferencias */
  margin: 0 auto;
  text-align: center; /* Centra la ventana horizontalmente en la pantalla */
}
mat-toolbar {
  width: 800px;
  align-items: center;
  text-align: center;
  color: aliceblue;
  background: hsl(245, 86%, 14%);
}
.example-spacer {
  flex: 1 1 auto;
}

.containerButtons {
  align-content: center;
  text-align: center;
  width: 100%;
}

.Buttons {
  background: rgb(65, 187, 4);
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  margin: 5px;
}
table {
    width: 95%;
    text-align: center;
    margin: 20px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  table {
    border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
  }
  table td {
    padding: 15px;
    text-align: center;
  }
  table thead td {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
  }
  table tbody td {
    color: #636363;
    border: 1px solid #dddfe1;
  }
  table tbody tr {
    background-color: #f9fafb;
  }
  table tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
